machine api.github.com login pvinis^forge password {{ (onepassword "magit forge github token" "" "my").details.password }}
machine api.github.com login pvinis^ghub password {{ (onepassword "magit forge github token" "" "my").details.password }}
