//registry.npmjs.org/:_authToken={{ (onepassword "npm registry token" "" "my").details.password }}
//npm.pkg.github.com/:_authToken={{ (onepassword "github pkg registry token" "" "my").details.password }}
@senseobservationsystems:registry=https://npm.pkg.github.com/
