export HOMEBREW_GITHUB_API_TOKEN="{{ (onepassword "homebrew github api token").details.password }}"
export GITHUB_TOKEN="{{ (onepassword "terminal github token cyan").details.password }}"
export GH_TOKEN="{{ (onepassword "terminal github token cyan").details.password }}"

[ -s "$HOME/.zshrc_private_sense" ] && source $HOME/.zshrc_private_sense
