export HOMEBREW_GITHUB_API_TOKEN="{{ (onepassword "homebrew github api token").details.password }}"
export GITHUB_TOKEN="{{ (onepassword "github hub token lavender").details.password }}"
export GH_TOKEN="{{ (onepassword "github hub token lavender").details.password }}"

[ -s "$HOME/.zshrc_private_artsy" ] && source $HOME/.zshrc_private_artsy
[ -s "$HOME/.zshrc_private_sense" ] && source $HOME/.zshrc_private_sense
