[default]
aws_access_key_id = {{ (index (onepasswordItemFields "aws artsy pavlos credentials cli") "access key id").value }}
aws_secret_access_key = {{ (index (onepasswordItemFields "aws artsy pavlos credentials cli") "secret access key").value }}
